*{
    font-family: 'Times New Roman', Times, serif;
    margin: 1%;
    background-color: antiquewhite;
}

.container-1{
    display: flex;
}

.heading{
    text-align: center;
    background-color: lightcoral;
}

.year{
    width: 33%;
}

.year #year{
    width: 80%;
    height: 80%;
}

.language{
    width: 33%;
}

.language #language{
    width: 80%;
    height: 80%;
}

.genre{
    width: 33%;
}

.genre #genre{
    width: 80%;
    height: 80%;
}

.rating #rating{
    width: 92.1%;
    height: 80%;

}

.table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-data, th ,td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
    
}

#table-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgb(138, 183, 228);
  }

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chk-btn{
    width: 15%;
    height: 100%;
    text-align: center;
    background-color: aquamarine;
    padding: 8px;
}

#chk-btn:hover{
    background-color: lightgreen;
}

.image-table{
    display: inline;
}

#year{
    background-color: lightblue;
}

#genre{
    background-color: lightblue;
}

#language{
    background-color: lightblue;
}

#rating{
    background-color: lightblue;
}

.paragraph{
    text-align: center;
}